<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <%= render 'user_avatars' %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @title %></h3>
    <%= render partial: 'shared/feed_pagination',
               locals: { items: @users, items_class: 'users' } %>
  </div>
</div>
